apiVersion: v1
kind: Service
metadata:
  name: hr-graphql-api-service
  labels:
    app: hr-graphql-api
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: hr-graphql-api
  sessionAffinity: None